
<html>
<body>

<div>
    <form method="post" action="text">

        <div>Наименование организации  <input type="text" name="nameOrg" placeholder="Введите наименование организации"></div>
        <div>ИНН  <input type="text" name="inn" placeholder="Введите ИНН организации"></div>
        <div>ОГРН  <input type="text" name="ogrnn" placeholder="Введите ОГРН организации"></div>
        <div>Адрес  <input type="text" name="addressOrg" placeholder="Введите адрес организации"></div>
        <button type="submit">Отправить</button>

    </form>
</div>

<div>Поиск по таблице</div>
<form method="post" action="filter">
    <input type="text" name="filter">
    <button type="submit">Найти</button>
</form>


<div>Удаление элементов</div>
<form method="post" action="delete">
    <input type="text" name="id">
    <button type="submit">Удалить</button>
</form>


<form method="post" ></form>

<div>
    <table border="1">
        <tr>
        <th>ID</th>
        <th>Наименование организации</th>
        <th>Инн</th>
        <th>ОГРН</th>
        <th>Адрес</th>
        </tr>
        {{#messages}}
        <tr>
            <td>{{id}}</td>
            <td>{{nameOrg}}</td>
            <td>{{inn}}</td>
            <td>{{ogrnn}}</td>
            <td>{{addressOrg}}</td>
        </tr>
        {{/messages}}
    </table>
</div>

</body>
</html>